$secondary:707070;
@font-face {
  font-family: worksans_medium;
  src: url(assets/WorkSans-VariableFont_wght.ttf);
}

@font-face {
  font-family: homemadeapple_regular;
  src: url(assets/HomemadeApple-Regular.ttf);
}
header{
  display:flex;
  width: auto;
  height:220px;
  background-color: #202020;
  background-image: linear-gradient(#202020, #707070);
  box-sizing: border-box;
  margin: 0px;

}
.tile{
  display:relative;
  font-family: 'Work Sans', sans-serif;
  font-size: 48px;
  color: #ffffff;
  text-align: center;
  margin: 10px;
  /*margin-left: 60px;*/
  margin-bottom: 0px;
  padding: 30px;
  padding-bottom: 0px;
}
.des{
  display:relative;
  font-family: 'Homemade Apple', cursive;
  font-size: 32px;
  color:#919090;
  margin-left: 900px;
  padding-right: : 20px;
}
.navi{
display:flex;
flex-direction: row;
flex-wrap: wrap;
  width: 500px;
    height: 100px;
}
ul{
  list-style: outside;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  }
li{
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  font-family: 'Droid-Sans', sans-serif;

}
li a:link{
  display: flex;
  color:#000;
  text-decoration: none;
}
li a:hover{
  background: $secondary;
  border-radius: 5em;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}
li a:visited{
  background: $secondary;
  border-radius: 5em;
  border-bottom:1px solid transparent;
}
li a:active{
    background: $secondary;
    border-radius: 5em;
    border-bottom:1px solid transparent;
  }

body{
  font-family: 'Work Sans','Droid-Sans',sans-serif;
  font-weight: worksans_medium;

}
div a:link{
  display: flex;
  color:#000;
  text-decoration: none;
}

.container{
  margin-top:10px;
  display:flex;
  flex-direction: column;
  font-family: 'Work Sans','Droid-Sans',sans-serif;
  font-weight: Regular;
  margin-left: 140px;
  margin-right: 100px;

}
.rect{
position: relative;
  text-align: center;
  color: white;
width:80%;
height:200px;
font-family: 'Work Sans','Droid-Sans',sans-serif;
font-weight: worksans_medium;
font-color: white;
margin-left: 100px;
margin-right: 100px;
margin-bottom: 60px;
background-color:#545457;
background-position: center;
background-repeat: no-repeat;
background-size:contain;
background-clip: border-box;
opacity: 1;
}
img > div{
  width:100%;
  height: auto;
  object-fit: cover;
  max-height: 100%;
max-width: 100%;
opacity: 1;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* .mediaViewInfo {
  --web-view-name: MSProcessBlog;
  --web-view-id: MSProcessBlog;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: MSProcessBlog;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#MSProcessBlog {
  position: absolute;
  width: 1920px;
  height: 2281px;
  background-color: rgba(236,236,236,1);
  overflow: hidden;
  --web-view-name: MSProcessBlog;
  --web-view-id: MSProcessBlog;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
#Rectangle_1_j {
  fill: url(#Rectangle_1_j);
}
.Rectangle_1_j {
  position: absolute;
  overflow: visible;
  width: 1920px;
  height: 251px;
  left: 0px;
  top: 0px;
}
#Rectangle_7 {
  fill: rgba(32,32,32,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_7 {
  position: absolute;
  overflow: visible;
  width: 1920px;
  height: 101px;
  left: 0px;
  top: 2180px;
}
#Rectangle_2 {
  position: absolute;
  width: 1336px;
  height: 226px;
  left: 290px;
  top: 520px;
  overflow: visible;
}
#Rectangle_8 {
  position: absolute;
  width: 1336px;
  height: 226px;
  left: 290px;
  top: 852px;
  overflow: visible;
}
#Rectangle_9 {
  position: absolute;
  width: 1336px;
  height: 226px;
  left: 290px;
  top: 1185px;
  overflow: visible;
}
#Rectangle_10 {
  position: absolute;
  width: 1336px;
  height: 226px;
  left: 290px;
  top: 1517px;
  overflow: visible;
}
#Rectangle_11 {
  position: absolute;
  width: 1336px;
  height: 226px;
  left: 290px;
  top: 1849px;
  overflow: visible;
}
#Simran_Jagnik {
  left: 288px;
  top: 73px;
  position: absolute;
  overflow: visible;
  width: 813px;
  height: 73px;
  text-align: left;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 62px;
  color: rgba(255,255,255,1);
  letter-spacing: -0.12px;
  text-transform: uppercase;
}
#Home_Instruction_sets_Guiding_ {
  left: 34px;
  top: 303px;
  position: absolute;
  overflow: visible;
  width: 232px;
  height: 192px;
  text-align: left;
  font-family: Droid Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(38,38,38,1);
}
#Major_Studio_1_Process_Blog {
  left: 703px;
  top: 146px;
  position: absolute;
  overflow: visible;
  width: 1073px;
  height: 90px;
  text-align: right;
  font-family: Homemade Apple;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  color: rgba(112,112,112,1);
  letter-spacing: 0.28px;
}
#This_is_the_process_blog_for_t {
  left: 290px;
  top: 342px;
  position: absolute;
  overflow: visible;
  width: 1337px;
  height: 76px;
  text-align: left;
  font-family: Droid Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  color: rgba(38,38,38,1);
}
#instruction_set_for_strangers {
  left: 566px;
  top: 611px;
  position: absolute;
  overflow: visible;
  width: 786px;
  height: 45px;
  text-align: center;
  font-family: Droid Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 39px;
  color: rgba(255,255,255,1);
}
#guiding_questions_and_research {
  left: 566px;
  top: 943px;
  position: absolute;
  overflow: visible;
  width: 786px;
  height: 45px;
  text-align: center;
  font-family: Droid Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 39px;
  color: rgba(255,255,255,1);
}
#prototype_1 {
  left: 566px;
  top: 1275px;
  position: absolute;
  overflow: visible;
  width: 786px;
  height: 45px;
  text-align: center;
  font-family: Droid Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 39px;
  color: rgba(255,255,255,1);
}
#prototype_2 {
  left: 566px;
  top: 1607px;
  position: absolute;
  overflow: visible;
  width: 786px;
  height: 45px;
  text-align: center;
  font-family: Droid Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 39px;
  color: rgba(255,255,255,1);
}
#prototype_3 {
  left: 566px;
  top: 1939px;
  position: absolute;
  overflow: visible;
  width: 786px;
  height: 45px;
  text-align: center;
  font-family: Droid Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 39px;
  color: rgba(255,255,255,1);
} */
