$secondary:707070;

@font-face {
  font-family: worksans_medium;
  src: url(assets/WorkSans-VariableFont_wght.ttf);
}

@font-face {
  font-family: homemadeapple_regular;
  src: url(assets/HomemadeApple-Regular.ttf);
}

header {
  display: flex;
  width: auto;
  height: 220px;
  background-color: #202020;
  background-image: linear-gradient(#202020, #707070);
  box-sizing: border-box;
  margin: 0px;
}

.tile {
  display: relative;
  font-family: 'Work Sans', sans-serif;
  font-size: 48px;
  color: #ffffff;
  text-align: center;
  margin: 10px;
  /*margin-left: 60px;*/
  margin-bottom: 0px;
  padding: 30px;
  padding-bottom: 0px;
}

.des {
  display: relative;
  font-family: 'Homemade Apple', cursive;
  font-size: 32px;
  color: #919090;
  margin-left: 900px;
  padding-right: : 20px;
}

.navi {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;
  height: 100px;
}

ul {
  list-style: outside;
  list-style-type: none;
    font-family: 'Work Sans', 'Droid-Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}

li {
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
    font-family: 'Work Sans', 'Droid-Sans', sans-serif;
}

li a:link {
  display: flex;
  color: #000;
  text-decoration: none;
}

li a:hover {
  background: $secondary;
  border-radius: 5em;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

li a:visited {
  background: $secondary;
  border-radius: 5em;
  border-bottom: 1px solid transparent;
}

li a:active {
  background: $secondary;
  border-radius: 5em;
  border-bottom: 1px solid transparent;
}

body {
  font-family: 'Work Sans', 'Droid-Sans', sans-serif;
  font-weight: worksans_medium;
}

div a:link {
  display: flex;
  color: #000;
  text-decoration: none;
}
/* Position the image container (needed to position the left and right arrows) */

.container {
  margin-top: 10px;
  display: flex;
    position: relative;
  flex-direction: column;
  font-family: 'Work Sans', 'Droid-Sans', sans-serif;
  font-weight: Regular;
  margin-left: 140px;
  margin-right: 100px;
}

.rect {
  position: relative;
  text-align: center;
  color: white;
  width: 1000px;
  height: 200px;
  font-family: 'Work Sans', 'Droid-Sans', sans-serif;
  font-weight: worksans_medium;
  font-color: white;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 60px;
  background-color: #545457;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-clip: border-box;
  opacity: 1;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
  opacity: 1;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

* {
  box-sizing: border-box;
}



/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

